body { 
    /*background-color: #E4E4E4;*/
    background-color: #FBFBFC;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: 1200px;
}

.modal-body {
    max-height: 800px;
}

.modal-big{
   max-width:940px;
   width: auto;
}


.box img {
	width: 198px;
}

.box {
	background-color: white;
	padding: 16px;
	margin: 4px;
	border: 1px solid #DEDEDE;
	max-width: 198px;
}

.caption {
	border-top: 1px solid #DEDEDE;
	margin: 16px -16px 0px -16px;
/*	margin-right: -16px;
	margin-left: -16px;*/
	/*padding-left: 16px;*/
	padding: 16px;
	padding-bottom: 0px;
}

.centered {
	margin: 0 auto;
}

.home-tile {
	width: 198px;
	/*display: none;*/
}

.input-mysize { 
	width: 120px 
}
